{% extends "package/read_base.html" %}

{% block styles %}
  {{ super() }}
  {% resource 'datalineage/css/pure-min.css' %}
  {% resource 'datalineage/css/base-min.css' %}
  {% resource 'datalineage/css/general_styles.css' %}
  {% resource 'datalineage/css/heatmap_styles.css' %}
  {% resource 'datalineage/css/card_styles.css' %}
  {% resource 'datalineage/css/nav_styles.css' %}
  {% resource 'datalineage/js/dojo/themes/tundra/tundra.css' %}
  {% resource 'datalineage/js/dojo/dojo.js.uncompressed.js' %}
  {% resource 'datalineage/js/metaviz.js' %}
  {% resource 'datalineage/js/MetaViz/required_dojo_scripts.js' %}
  {% resource 'datalineage/js/MetaViz/initialize_scripts.js' %}
  {% resource 'datalineage/js/MetaViz/local_tools_creation.js' %}
  {% resource 'datalineage/js/MetaViz/local_tools_logic.js' %}
  {% resource 'datalineage/js/MetaViz/card_creation.js' %}
  {% resource 'datalineage/js/MetaViz/card_position.js' %}
  {% resource 'datalineage/js/MetaViz/card_logic.js' %}
  {% resource 'datalineage/js/MetaViz/line_position.js' %}
  {% resource 'datalineage/js/MetaViz/lineage_filling.js' %}
  {% resource 'datalineage/js/MetaViz/navi_hide_show_logic.js' %}
  {% resource 'datalineage/js/guiFunctions.js' %}

  {% resource "datalineage/js/Exhibit3/lib/jquery.js" %}
  {% resource 'datalineage/js/Exhibit3/exhibitOutputFunctions.js' %}
  {% resource 'datalineage/js/preloader.js' %}
  {% resource 'datalineage/js/load_metaviz.js' %}

  <style>
      #tabMetaData {
        position: absolute; left: 60px; z-index: 300000; width: 690px;
        background-color: white; top: 115px; padding: 30px; border: 1px solid gray;
      }
      
      #page {
        height: 100%; display: none; overflow: auto; padding-left: 20px;
      }
      .module-conent{
        padding: 0px;
      }
    </style>
  
{% endblock %}

{% block subtitle %}{{ _('Data Lineage') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  {% block datalineage %}
    <!-- {{ datalineage_wasgeneratedby | safe }}
    {{ datalineage_generates | safe }}
    {{ datalineage_producers }} -->


    <div class="tundra container-fluid moudle-content" id="gmf_body" data-module='datalineage_js_module' data-module-data='{{ data | safe }}'>
        <div id="tabMetaData" style="visibility:hidden;">
          <a onclick="hideInfo()" style="float:right;padding-right:10px;padding-left:30px;">hide info</a>
        </div>	
        <div id="page" class="row">							
          <!-- hidden mini cards -->
          <div id="lineage_mini_cards" class="white-block slide chain" style="left:0px;top:200px;width:220px;"> 
            <div id="lineage_dataset_mini_cards_container"></div>
            <div id="lineage_model_mini_cards_container"></div>
          </div>
          <!-- div id="usage_mini_cards" class="white-block slide2 chain" style="width:200px;left: 860px; top: 200px;" -->
          <div id="usage_mini_cards" class="white-block slide2 chain" style="width:200px;left:0px;top:200px;">
            <div id="usage_dataset_mini_cards_container" style="left:110px;"></div>
            <div id="usage_model_mini_cards_container" style="left:5px;"></div>
          </div>
        
          <!-- to be filled automatically with content -->
          <div id="lineage_con" style="position:absolute;top:120px;left:0px;" class="top_pos">
            <div id="lineage_dataset_cards_container" style="width:250px;">
            </div>
            <div id="lineage_model_cards_container"></div>
          </div> 
          <div id="detail_container" style="top:50px;" class="top_pos">
          </div> 
          <div id="usage_con" style="position:absolute;top:220px;"
            class="top_pos">
            <div id="usage_model_cards_container"></div>
            <div id="usage_dataset_cards_container"></div>
            <div id="input_container"></div>
          </div> 
          <div id="lines" style="position:absolute;top:50px;left:30px;">
            <div id="actual_lines" class="chain"></div>
            <div id="input_lines" ></div>
          </div> 
          <div id="content"> 
            <div id="hide_and_show" style="position:absolute;width:30px;height:30px;top:10px;left:20px;">
              <div id="icon_arrow_left" onmousedown='toggleLineage()' title="switch to Lineage - highlights left side" style="cursor: pointer;"></div>
              <div id="icon_arrow_right" onmousedown='toggleLineage()' style="visibility:hidden;cursor: pointer;" title="switch to Usage - highlights right side"></div>
            </div> 
          </div> 
        </div>
                    
      </div>

      <script type="text/javascript">

        function showFeature(id) {
          dojo.byId("tabMetaData").style.visibility = "visible";
        }
        
        function hideInfo() {
          dojo.byId("tabMetaData").style.visibility = "hidden";
        }
     </script>
  {% endblock %}
{% endblock %}